#player {
    /* Center player inside of .background-container */
    position: absolute;
    top: 30%;
    left: 20%;

    /* Resize player width/height based on .background-container */
    width: 10%;
    padding-top: 10%;

    /* For smooth jump animation */ 
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    content: url("flappy.png");
    z-index: 1;
}

.pipe-material {
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    content: url("./pipeSprite.png");
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    z-index: 1;
} 

.background-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('./background.png');
    background-size: contain;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#lose-collider {
    width: 100vw;
    height: 2vh;
    top: 98vh;
}

#top-collider {
    width: 100vw;
    height: 2vh;
    bottom: 98vh;
}

