#player {
    position: absolute;
    top: 53vh;
    left: 30vw;
    width: 25px;
    height: 25px;
    background: black;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.pipe-material {
    position: absolute;
    background: black;
    width: 50px;
    height: 100vh;
    left: 99vw;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: linear;
} 

body {
    margin: 0;
}

#lose-collider {
    position: absolute;
    width: 100vw;
    height: 2vh;
    top: 98vh;
}

#origin {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(0px, 0px);
}

#top-collider {
    position: absolute;
    width: 100vw;
    height: 2vh;
    bottom: 98vh;
}